chess-board {
  margin-bottom: 10px;
  width: 300px;
  height: 300px;
}

#root {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "header"
    "main";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.center {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
}

/* Header section */

header {
  grid-area: header;
  padding: 10px;

  position: sticky;
  top: 0;
  z-index: 1;

  display: grid;
  grid-template-columns: auto 1fr;

  align-items: center;

  background-color: #495a4b;

  font-weight: 900;
}

header .brand {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  color: whitesmoke;
  gap: 10px;
}

header .brand img {
  width: 60px;
}

header .navigation {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 2rem;
}

header .navigation > li a {
  padding: 0.5rem 1rem;
  box-shadow: 0px 0px 2px 0px;
  border-radius: 4px;
  color: black;
  background-color: whitesmoke;
}

header .navigation > li a:hover {
  background-color: #b58863;
  font-weight: 900;
  color: whitesmoke;
}

/* Main section */

main {
  grid-area: main;
  margin: 20px;
  padding: 20px;
}

h2 {
  margin: 20px 0;
  font-size: 2em;
  text-align: center;
}

.exercises {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
  gap: 30px;
  place-content: center;
  place-items: center;
}

.action-btn {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;

  place-content: center;
}

.btn-group {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.buttons {
  display: grid;
  gap: 10px;
  justify-items: end;
  justify-content: end;
  grid-auto-flow: column;
}

.back-btn {
  display: grid;
  justify-content: start;
}

#filter-form {
  display: grid;
  justify-items: end;
}

#filter-form select {
  padding: 2px 5px;
  background-color: rgba(245, 245, 245, 0.274);
}

.collections {
  padding: 2rem 0;
  display: grid;
  gap: 20px;
  justify-content: center;

  grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
}

.collection.add-btn {
  width: 450px;
  height: 200px;

  border: none;

  cursor: pointer;
}

.collection-card,
.collection.add-btn {
  padding: 20px 0;
  box-shadow: 0 0 2px 1px;
  border-radius: 4px;

  display: grid;
  place-items: center;

  background-color: whitesmoke;
}

.collection-card h2 {
  margin-bottom: 0;
}

.collection-card p {
  margin-bottom: 2rem;
}
/* Not found page */

.not-found.gif-container {
  padding-top: 50%;
  position: relative;
  width: 900px;
}

.not-found.gif-container img {
  position: absolute;
  top: 0;
  left: 0;
}

/* Exercise section */

.exercise {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
}

.exercise > chess-board {
  margin-bottom: 20px;
  width: 500px;
  height: 500px;
}

.exercise .text {
  line-height: 2;
}
